body {
    background-color: black;
    color: white;
    font-family: eskapade, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 1;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: line-through;
    color: #FFE76E;
}

#text{
    position: absolute;
    left: calc(50% - 25vw);
    width: 50vw;
    top: 15vw;
}

@media only screen and (max-width: 900px){
    #text{
        top: 30vh;
        font-size: 2rem;
    }
}