body{
    margin: 0em;
    user-select: none;
    overflow-x: scroll;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #000;
}

#container{
    overflow: auto;
    width: 100vw;
    height: 100vh;
}

.coordinate{
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 50%);
    border-radius: 50%;
}

h1 {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.5rem;
    line-height: 0.5rem;
}

#filters{
    position: fixed;
    width: 100vw;
    top: 0vh;
    left: -20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #fff;
    padding: 20px;
    z-index: 99;
}

#nav{
    position: fixed;
    top: 80vh;
    left: 0vw;
    margin-left: 30px;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 4rem;
    font-size: 5rem;
    text-align: center;
    z-index: 98;
    cursor: pointer;
}

.zoom-out{
    opacity: 0.3;
}

.food-filter, .institution-filter, .recreation-filter, .region-filter, .service-filter {
    position: relative;
    left: -2vw;
    border: 5px solid;
    padding-right: 50px;
}

.red{
    color: #83060E;
}
.yellow{
    color: #D8A33F;
}
.blue{
    color: #213061;
}
.green{
    color: #165D48;
}
.reset{
    text-decoration: underline;
}

.location-container{
    width: 500px;
    position: absolute;
}

.location-container:first-of-type{
    top: 24rem;
    left: 48.6rem;
}
.location-container:nth-of-type(2){
    top: 19.2rem;
    left: 40.7rem;
}
.location-container:nth-of-type(3){
    top: 20rem;
    left: 276.3rem;
}
.location-container:nth-of-type(4){
    top: 38.2rem;
    left: 2rem;
}
.location-container:nth-of-type(5){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(6){
    top: 23.8rem;
    left: 44rem;
}
.location-container:nth-of-type(7){
    top: 40.4rem;
    left: 4.3rem;
}
.location-container:nth-of-type(8){
    top: 21.1rem;
    left: 265.7rem;
}
.location-container:nth-of-type(9){
    top: 24.8rem;
    left: 45.9rem;
}
.location-container:nth-of-type(10){
    top: 19.2rem;
    left: 48rem;
}
.location-container:nth-of-type(11){
    top: 24rem;
    left: 47.8rem;
}
.location-container:nth-of-type(12){
    top: 26rem;
    left: 41.5rem;
}
.location-container:nth-of-type(13){
    top: 20.6rem;
    left: 53rem;
}
.location-container:nth-of-type(14){
    top: 25.8rem;
    left: 41.6rem;
}
.location-container:nth-of-type(15){
    top: 19.2rem;
    left: 85.9rem;
}
.location-container:nth-of-type(16){
    top: 22.8rem;
    left: 46.4rem;
}
.location-container:nth-of-type(17){
    top: 26.3rem;
    left: 276.1rem;
}
.location-container:nth-of-type(18){
    top: 31.7rem;
    left: 272.9rem;
}
.location-container:nth-of-type(19){
    top: 19.3rem;
    left: 86rem;
}
.location-container:nth-of-type(20){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(21){
    top: 20rem;
    left: 48.7rem;
}
.location-container:nth-of-type(22){
    top: 31.8rem;
    left: 273rem;
}
.location-container:nth-of-type(23){
    top: 19.2rem;
    left: 86.2rem;
}
.location-container:nth-of-type(24){
    top: 26rem;
    left: 41.5rem;
}
.location-container:nth-of-type(25){
    top: 41.6rem;
    left: 269.7rem;
}
.location-container:nth-of-type(26){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(27){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(28){
    top: 16.8rem;
    left: 87rem;
}
.location-container:nth-of-type(29){
    top: 20.6rem;
    left: 53.2rem;
}
.location-container:nth-of-type(30){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(31){
    top: 36.8rem;
    left: 273.2rem;
}
.location-container:nth-of-type(32){
    top: 25.8rem;
    left: 42.7rem;
}
.location-container:nth-of-type(33){
    top: 19.1rem;
    left: 86.1rem;
}
.location-container:nth-of-type(34){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(35){
    top: 23.1rem;
    left: 48.6rem;
}
.location-container:nth-of-type(36){
    top: 41.7rem;
    left: 269.4rem;
}
.location-container:nth-of-type(37){
    top: 25.9rem;
    left: 41.7rem;
}
.location-container:nth-of-type(38){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(39){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(40){
    top: 26rem;
    left: 41.5rem;
}
.location-container:nth-of-type(41){
    top: 25.9rem;
    left: 41.5rem;
}
.location-container:nth-of-type(42){
    top: 38.4rem;
    left: 1.8rem;
}
.location-container:nth-of-type(43){
    top: 19.4rem;
    left: 48.4rem;
}
.location-container:nth-of-type(44){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(45){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(46){
    top: 25.9rem;
    left: 41.1rem;
}
.location-container:nth-of-type(47){
    top: 25.8rem;
    left: 41.6rem;
}
.location-container:nth-of-type(48){
    top: 25.9rem;
    left: 41.5rem;
}
.location-container:nth-of-type(49){
    top: 35.5rem;
    left: 261.3rem;
}
.location-container:nth-of-type(50){
    top: 23.9rem;
    left: 47.8rem;
}
.location-container:nth-of-type(51){
    top: 23.9rem;
    left: 47.8rem;
}
.location-container:nth-of-type(52){
    top: 25.9rem;
    left: 41.5rem;
}
.location-container:nth-of-type(53){
    top: 18.5rem;
    left: 85.9rem;
}
.location-container:nth-of-type(54){
    top: 20.2rem;
    left: 54.9rem;
}
.location-container:nth-of-type(55){
    top: 26rem;
    left: 41.5rem;
}
.location-container:nth-of-type(56){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(57){
    top: 29.6rem;
    left: 285.9rem;
}
.location-container:nth-of-type(58){
    top: 25.9rem;
    left: 41.8rem;
}
.location-container:nth-of-type(59){
    top: 30.9rem;
    left: 271.6rem;
}
.location-container:nth-of-type(60){
    top: 25.9rem;
    left: 41.7rem;
}
.location-container:nth-of-type(61){
    top: 19.2rem;
    left: 85.9rem;
}
.location-container:nth-of-type(62){
    top: 24.1rem;
    left: 44.7rem;
}
.location-container:nth-of-type(63){
    top: 41.7rem;
    left: 269.5rem;
}
.location-container:nth-of-type(64){
    top: 16.8rem;
    left: 87.1rem;
}
.location-container:nth-of-type(65){
    top: 19rem;
    left: 275.2rem;
}
.location-container:nth-of-type(66){
    top: 25.8rem;
    left: 41.6rem;
}
.location-container:nth-of-type(67){
    top: 20rem;
    left: 276.4rem;
}
.location-container:nth-of-type(68){
    top: 41.4rem;
    left: 270.2rem;
}
.location-container:nth-of-type(69){
    top: 25.9rem;
    left: 41.5rem;
}
.location-container:nth-of-type(70){
    top: 23.1rem;
    left: 49.5rem;
}
.location-container:nth-of-type(71){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(72){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(73){
    top: 25.9rem;
    left: 41.7rem;
}
.location-container:nth-of-type(74){
    top: 19.3rem;
    left: 86rem;
}
.location-container:nth-of-type(75){
    top: 25.5rem;
    left: 41.4rem;
}
.location-container:nth-of-type(76){
    top: 25.9rem;
    left: 41.6rem;
}
.location-container:nth-of-type(77){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(78){
    top: 25.9rem;
    left: 41.6rem;
}
.location-container:nth-of-type(79){
    top: 25.9rem;
    left: 41.7rem;
}
.location-container:nth-of-type(80){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(81){
    top: 20rem;
    left: 276.3rem;
}
.location-container:nth-of-type(82){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(83){
    top: 19.2rem;
    left: 85.9rem;
}
.location-container:nth-of-type(84){
    top: 20.8rem;
    left: 53.1rem;
}
.location-container:nth-of-type(85){
    top: 19.2rem;
    left: 85.9rem;
}
.location-container:nth-of-type(86){
    top: 36.9rem;
    left: 273.12rem;
}
.location-container:nth-of-type(87){
    top: 26rem;
    left: 42.4rem;
}
.location-container:nth-of-type(88){
    top: 19.2rem;
    left: 85.9rem;
}
.location-container:nth-of-type(89){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(90){
    top: 25.8rem;
    left: 41.6rem;
}
.location-container:nth-of-type(91){
    top: 25.9rem;
    left: 41.6rem;
}
.location-container:nth-of-type(92){
    top: 19.2rem;
    left: 48.1rem;
}
.location-container:nth-of-type(93){
    top: 19.2rem;
    left: 48.3rem;
}
.location-container:nth-of-type(94){
    top: 28.7rem;
    left: 281.4rem;
}
.location-container:nth-of-type(95){
    top: 19.2rem;
    left: 86rem;
}
.location-container:nth-of-type(96){
    top: 19.2rem;
    left: 85.9rem;
}
.location-container:nth-of-type(97){
    top: 25.9rem;
    left: 41.7rem;
}
.location-container:nth-of-type(98){
    top: 25.9rem;
    left: 41.1rem;
}
.location-container:nth-of-type(99){
    top: 29.3rem;
    left: 274.2rem;
}
.location-container:nth-of-type(100){
    top: 19.2rem;
    left: 86rem;
}