body{
    margin: 0em;
    user-select: none;
    overflow-x: scroll;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #000;
}

#container{
    overflow: auto;
    width: 100vw;
    height: 100vh;
}

.coordinate{
    position: relative;
    left: 210px;
    top: -20px;
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius: 50%;
}

h1 {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

p {
    font-family: calling-code, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

img {
    position: relative;
    top: -10px;
    left: -40px;
    width: 200px;
    height: auto;
    border: 5px solid;
    color: #000;
}

#filters{
    position: fixed;
    width: 100vw;
    top: 0vh;
    left: -20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #fff;
    padding: 20px;
    z-index: 99;
}

#nav{
    position: fixed;
    top: 80vh;
    left: 0vw;
    margin-left: 30px;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 4rem;
    font-size: 5rem;
    text-align: center;
    z-index: 98;
    cursor: pointer;
}

.zoom-in{
    opacity: 0.3;
}

.food-filter, .institution-filter, .recreation-filter, .region-filter, .service-filter {
    position: relative;
    left: -2vw;
    border: 5px solid;
    padding-right: 50px;
}

.red{
    color: #83060E;
}
.yellow{
    color: #D8A33F;
}
.blue{
    color: #213061;
}
.green{
    color: #165D48;
}
.reset{
    text-decoration: underline;
}

.location-caption {
    position: relative;
    left: -40px;
    top: -20px;
    max-width: 300px;
    align-items: center;
    border: 5px solid;
    background-color: #fff;
    color: #000;
    padding: 20px;
    user-select: text;
}

.location-container{
    width: 300px;
    position: absolute;
}
.location-container:hover, .location-container:active{
    cursor: pointer;
}

.location-detail {
    display: none;
    z-index: 97;
}

.location-container:first-of-type{
    top: 155rem;
    left: 83.2rem;
}
.location-container:nth-of-type(2){
    top: 32rem;
    left: 61.4rem;
}
.location-container:nth-of-type(3){
    top: 30rem;
    left: 362.6rem;
}
.location-container:nth-of-type(4){
    top: 222rem;
    left: 24rem;
}
.location-container:nth-of-type(5){
    top: 32rem;
    left: 192rem;
}
.location-container:nth-of-type(6){
    top: 166rem;
    left: 78rem;
}
.location-container:nth-of-type(7){
    top: 244rem;
    left: 28.6rem;
}
.location-container:nth-of-type(8){
    top: 55rem;
    left: 321.4rem;
}
.location-container:nth-of-type(9){
    top: 175rem;
    left: 91.8rem;
}
.location-container:nth-of-type(10){
    top: 72rem;
    left: 169rem;
}
.location-container:nth-of-type(11){
    top: 173rem;
    left: 110.6rem;
}
.location-container:nth-of-type(12){
    top: 100rem;
    left: 103rem;
}
.location-container:nth-of-type(13){
    top: 116rem;
    left: 116rem;
}
.location-container:nth-of-type(14){
    top: 98rem;
    left: 103.2rem;
}
.location-container:nth-of-type(15){
    top: 34rem;
    left: 124.8rem;
}
.location-container:nth-of-type(16){
    top: 148rem;
    left: 92.8rem;
}
.location-container:nth-of-type(17){
    top: 103rem;
    left: 103rem;
}
.location-container:nth-of-type(18){
    top: 160rem;
    left: 355.8rem;
}
.location-container:nth-of-type(19){
    top: 103rem;
    left: 212rem;
}
.location-container:nth-of-type(20){
    top: 54rem;
    left: 189rem;
}
.location-container:nth-of-type(21){
    top: 40rem;
    left: 95rem;
}
.location-container:nth-of-type(22){
    top: 170rem;
    left: 358rem;
}
.location-container:nth-of-type(23){
    top: 82rem;
    left: 242.4rem;
}
.location-container:nth-of-type(24){
    top: 100rem;
    left: 103rem;
}
.location-container:nth-of-type(25){
    top: 246rem;
    left: 329.4rem;
}
.location-container:nth-of-type(26){
    top: 40rem;
    left: 193rem;
}
.location-container:nth-of-type(27){
    top: 46rem;
    left: 190rem;
}
.location-container:nth-of-type(28){
    top: 11rem;
    left: 250rem;
}
.location-container:nth-of-type(29){
    top: 110rem;
    left: 126.4rem;
}
.location-container:nth-of-type(30){
    top: 78rem;
    left: 222rem;
}
.location-container:nth-of-type(31){
    top: 198rem;
    left: 370rem;
}
.location-container:nth-of-type(32){
    top: 98rem;
    left: 105.4rem;
}
.location-container:nth-of-type(33){
    top: 10rem;
    left: 210.2rem;
}
.location-container:nth-of-type(34){
    top: 46rem;
    left: 212rem;
}
.location-container:nth-of-type(35){
    top: 158rem;
    left: 117.2rem;
}
.location-container:nth-of-type(36){
    top: 255rem;
    left: 310.8rem;
}
.location-container:nth-of-type(37){
    top: 99rem;
    left: 103.4rem;
}
.location-container:nth-of-type(38){
    top: 29rem;
    left: 172rem;
}
.location-container:nth-of-type(39){
    top: 45rem;
    left: 172rem;
}
.location-container:nth-of-type(40){
    top: 100rem;
    left: 103rem;
}
.location-container:nth-of-type(41){
    top: 99rem;
    left: 103rem;
}
.location-container:nth-of-type(42){
    top: 230rem;
    left: 20rem;
}
.location-container:nth-of-type(43){
    top: 75rem;
    left: 95rem;
}
.location-container:nth-of-type(44){
    top: 19rem;
    left: 146rem;
}
.location-container:nth-of-type(45){
    top: 44rem;
    left: 154rem;
}
.location-container:nth-of-type(46){
    top: 99rem;
    left: 102.2rem;
}
.location-container:nth-of-type(47){
    top: 98rem;
    left: 103.2rem;
}
.location-container:nth-of-type(48){
    top: 99rem;
    left: 103rem;
}
.location-container:nth-of-type(49){
    top: 195rem;
    left: 310rem;
}
.location-container:nth-of-type(50){
    top: 169rem;
    left: 95.6rem;
}
.location-container:nth-of-type(51){
    top: 176rem;
    left: 25.6rem;
}
.location-container:nth-of-type(52){
    top: 99rem;
    left: 103rem;
}
.location-container:nth-of-type(53){
    top: 85rem;
    left: 111.8rem;
}
.location-container:nth-of-type(54){
    top: 192rem;
    left: 29.8rem;
}
.location-container:nth-of-type(55){
    top: 100rem;
    left: 103rem;
}
.location-container:nth-of-type(56){
    top: 177rem;
    left: 58rem;
}
.location-container:nth-of-type(57){
    top: 136rem;
    left: 411.8rem;
}
.location-container:nth-of-type(58){
    top: 99rem;
    left: 103.6rem;
}
.location-container:nth-of-type(59){
    top: 149rem;
    left: 343.2rem;
}
.location-container:nth-of-type(60){
    top: 99rem;
    left: 103.4rem;
}
.location-container:nth-of-type(61){
    top: 24rem;
    left: 140.8rem;
}
.location-container:nth-of-type(62){
    top: 174rem;
    left: 76.4rem;
}
.location-container:nth-of-type(63){
    top: 267rem;
    left: 319rem;
}
.location-container:nth-of-type(64){
    top: 5rem;
    left: 264.2rem;
}
.location-container:nth-of-type(65){
    top: 20rem;
    left: 370.4rem;
}
.location-container:nth-of-type(66){
    top: 98rem;
    left: 103.2rem;
}
.location-container:nth-of-type(67){
    top: 40rem;
    left: 402.8rem;
}
.location-container:nth-of-type(68){
    top: 235rem;
    left: 340.4rem;
}
.location-container:nth-of-type(69){
    top: 99rem;
    left: 103rem;
}
.location-container:nth-of-type(70){
    top: 158rem;
    left: 100rem;
}
.location-container:nth-of-type(71){
    top: 38rem;
    left: 162rem;
}
.location-container:nth-of-type(72){
    top: 15rem;
    left: 194rem;
}
.location-container:nth-of-type(73){
    top: 99rem;
    left: 103.4rem;
}
.location-container:nth-of-type(74){
    top: 85rem;
    left: 137rem;
}
.location-container:nth-of-type(75){
    top: 95rem;
    left: 102.8rem;
}
.location-container:nth-of-type(76){
    top: 99rem;
    left: 103.2rem;
}
.location-container:nth-of-type(77){
    top: 22rem;
    left: 162rem;
}
.location-container:nth-of-type(78){
    top: 99rem;
    left: 103.2rem;
}
.location-container:nth-of-type(79){
    top: 99rem;
    left: 103.4rem;
}
.location-container:nth-of-type(80){
    top: 52rem;
    left: 206rem;
}
.location-container:nth-of-type(81){
    top: 40rem;
    left: 382.6rem;
}
.location-container:nth-of-type(82){
    top: 55rem;
    left: 148rem;
}
.location-container:nth-of-type(83){
    top: 32rem;
    left: 138.8rem;
}
.location-container:nth-of-type(84){
    top: 125rem;
    left: 123.2rem;
}
.location-container:nth-of-type(85){
    top: 30rem;
    left: 156.8rem;
}
.location-container:nth-of-type(86){
    top: 209rem;
    left: 366.24rem;
}
.location-container:nth-of-type(87){
    top: 100rem;
    left: 104.8rem;
}
.location-container:nth-of-type(88){
    top: 42rem;
    left: 138.8rem;
}
.location-container:nth-of-type(89){
    top: 59rem;
    left: 188rem;
}
.location-container:nth-of-type(90){
    top: 98rem;
    left: 103.6rem;
}
.location-container:nth-of-type(91){
    top: 99rem;
    left: 103.2rem;
}
.location-container:nth-of-type(92){
    top: 45rem;
    left: 70rem;
}
.location-container:nth-of-type(93){
    top: 62rem;
    left: 85rem;
}
.location-container:nth-of-type(94){
    top: 117rem;
    left: 392.8rem;
}
.location-container:nth-of-type(95){
    top: 18rem;
    left: 180rem;
}
.location-container:nth-of-type(96){
    top: 62rem;
    left: 139rem;
}
.location-container:nth-of-type(97){
    top: 179rem;
    left: 41.8rem;
}
.location-container:nth-of-type(98){
    top: 99rem;
    left: 102.2rem;
}
.location-container:nth-of-type(99){
    top: 133rem;
    left: 368.4rem;
}
.location-container:nth-of-type(100){
    top: 52rem;
    left: 168rem;
}

.location-detail {
    position: relative;
    top: -10px;
    left: 290px;
}

@media only screen and (max-width: 1200px) {
    #container{
        position: relative;
        top: -200px;
    }
    #filters{
        height: 150px;
        width: 80vw;
        left: 25vw;
        top: calc(100vh - 160px);
        font-size: 2rem;
        flex-wrap: wrap;
    }
    .red, .yellow, .green, .blue{
        position: relative;
        flex-basis: 50%;
    }
    #nav{
        top: 65vh;
    }
    .reset{
        display: block;
        position: absolute;
        top: 50px;
        left: -20vw;
    }
}

@media only screen and (max-width: 800px) {
    #container{
        top: -100px;
    }
    #filters{
        left: 20vw;
        height: 100px;
        top: calc(100vh - 125px);
        font-size: 1rem;
        flex-wrap: wrap;
    }
    .red, .yellow, .green, .blue{
        position: relative;
        flex-basis: 50%;
    }
    #nav{
        top: 75vh;
        font-size: 3rem;
        line-height: 3rem;
    }
    .reset{
        top: 40px;
        left: -14vw;
    }
}

@media only screen and (max-width: 500px) {
    #filters{
        left: 0vw;
        width: 100vw;
    }
    .red, .yellow, .green, .blue{
        position: relative;
        flex-basis: 50%;
    }
    #nav{
        top: 74vh;
        left: -10px;
    }
    .reset{
        top: -30px;
        left: 85vw;
    }
}