body {
    margin: 0;
    overflow-x: hidden;
    background-color: #AA75DC;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60vw;
    left: 20vw;
    margin-top: 25vh;
}

#title {
    width: 500px;
    font-size: 5rem;
    line-height: 5rem;
}

#form {
    margin-bottom: 100px;
}

input[type="text"] {
    appearance: none;
    border: none;
    background-color: #AA75DC;
    color: rgba(255, 255, 255, 0.75);
    width: 58vw;
    padding: 1rem;
    font-family: canada-type-gibson, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
}

input[type="text"]:focus {
    background-color: #9757E4;
    color: #fff;
    border: none;
}

::placeholder {
    position: relative;
    left: -1rem;
    padding: 1rem;
    width: 100%;
    background-color: #9757E4;
    color: rgba(255, 255, 255, 0.8);
}

h1 {
    margin: 0rem;
    font-family: fatfrank, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #fff;
    line-height: 2rem;
    margin-bottom: 1rem;
}

#newPhrase {
    display: inline;
    font-family: fatfrank, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: #FFD972;
}

#output {
    font-family: fatfrank, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: #FFD972;
    margin-bottom: 100px;
}

button {
    border: none;
    border-radius: 50px;
    background-color: #9757E4;
    color: #fff;
    font-family: canada-type-gibson, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    margin-top: 20px;
}

@media only screen and (max-width: 700px) {
    .container {
        width: 80vw;
        left: 10vw;
    }
    #form, #output {
        width: 80vw;
        margin-bottom: 50px;
    }
    #output, #newPhrase {
        font-size: 3rem;
    }
    #title {
        width: 300px;
        font-size: 3rem;
        line-height: 3rem;
    }
    input[type="text"] {
        font-size: 2rem;
        width: 72vw;
    }
    button {
        font-size: 1rem;
    }
    h1 {
        font-size: 1.5rem;
    }
}