body{
    margin: 0em;
    user-select: none;
    overflow-x: scroll;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #000;
}

#container{
    overflow: auto;
    width: 100vw;
    height: 100vh;
}

.coordinate{
    position: relative;
    left: 40px;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
}

h1 {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1rem;
}

p {
    font-family: calling-code, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

img {
    width: 200px;
    height: auto;
    border: 5px solid;
    color: #000;
}

#filters{
    position: fixed;
    width: 100vw;
    top: 0vh;
    left: -20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #fff;
    padding: 20px;
    z-index: 99;
}

#nav{
    position: fixed;
    top: 80vh;
    left: 0vw;
    margin-left: 30px;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 4rem;
    font-size: 5rem;
    text-align: center;
    z-index: 98;
    cursor: pointer;
}

.food-filter, .institution-filter, .recreation-filter, .region-filter, .service-filter {
    position: relative;
    left: -2vw;
    border: 5px solid;
    padding-right: 50px;
}

.red{
    color: #83060E;
}
.yellow{
    color: #D8A33F;
}
.blue{
    color: #213061;
}
.green{
    color: #165D48;
}
.reset{
    text-decoration: underline;
}


.location-container{
    width: 500px;
    position: absolute;
}

.location-container:first-of-type{
    top: 24rem;
    left: 68.6rem;
}
.location-container:nth-of-type(2){
    top: 19.2rem;
    left: 70.7rem;
}
.location-container:nth-of-type(3){
    top: 20rem;
    left: 296.3rem;
}
.location-container:nth-of-type(4){
    top: 38.2rem;
    left: 22rem;
}
.location-container:nth-of-type(5){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(6){
    top: 23.8rem;
    left: 64rem;
}
.location-container:nth-of-type(7){
    top: 40.4rem;
    left: 24.3rem;
}
.location-container:nth-of-type(8){
    top: 21.1rem;
    left: 285.7rem;
}
.location-container:nth-of-type(9){
    top: 24.8rem;
    left: 65.9rem;
}
.location-container:nth-of-type(10){
    top: 19.2rem;
    left: 68rem;
}
.location-container:nth-of-type(11){
    top: 24rem;
    left: 67.8rem;
}
.location-container:nth-of-type(12){
    top: 26rem;
    left: 61.5rem;
}
.location-container:nth-of-type(13){
    top: 20.6rem;
    left: 73rem;
}
.location-container:nth-of-type(14){
    top: 25.8rem;
    left: 61.6rem;
}
.location-container:nth-of-type(15){
    top: 19.2rem;
    left: 105.9rem;
}
.location-container:nth-of-type(16){
    top: 22.8rem;
    left: 66.4rem;
}
.location-container:nth-of-type(17){
    top: 26.3rem;
    left: 65rem;
}
.location-container:nth-of-type(18){
    top: 31.7rem;
    left: 292.9rem;
}
.location-container:nth-of-type(19){
    top: 19.3rem;
    left: 106rem;
}
.location-container:nth-of-type(20){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(21){
    top: 20rem;
    left: 68.7rem;
}
.location-container:nth-of-type(22){
    top: 31.8rem;
    left: 293rem;
}
.location-container:nth-of-type(23){
    top: 19.2rem;
    left: 106.2rem;
}
.location-container:nth-of-type(24){
    top: 26rem;
    left: 61.5rem;
}
.location-container:nth-of-type(25){
    top: 41.6rem;
    left: 289.7rem;
}
.location-container:nth-of-type(26){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(27){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(28){
    top: 16.8rem;
    left: 107rem;
}
.location-container:nth-of-type(29){
    top: 20.6rem;
    left: 73.2rem;
}
.location-container:nth-of-type(30){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(31){
    top: 36.8rem;
    left: 293.2rem;
}
.location-container:nth-of-type(32){
    top: 25.8rem;
    left: 62.7rem;
}
.location-container:nth-of-type(33){
    top: 19.1rem;
    left: 106.1rem;
}
.location-container:nth-of-type(34){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(35){
    top: 23.1rem;
    left: 68.6rem;
}
.location-container:nth-of-type(36){
    top: 41.7rem;
    left: 289.4rem;
}
.location-container:nth-of-type(37){
    top: 25.9rem;
    left: 61.7rem;
}
.location-container:nth-of-type(38){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(39){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(40){
    top: 26rem;
    left: 61.5rem;
}
.location-container:nth-of-type(41){
    top: 25.9rem;
    left: 61.5rem;
}
.location-container:nth-of-type(42){
    top: 38.4rem;
    left: 21.8rem;
}
.location-container:nth-of-type(43){
    top: 19.4rem;
    left: 68.4rem;
}
.location-container:nth-of-type(44){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(45){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(46){
    top: 25.9rem;
    left: 61.1rem;
}
.location-container:nth-of-type(47){
    top: 25.8rem;
    left: 61.6rem;
}
.location-container:nth-of-type(48){
    top: 25.9rem;
    left: 61.5rem;
}
.location-container:nth-of-type(49){
    top: 35.5rem;
    left: 281.3rem;
}
.location-container:nth-of-type(50){
    top: 23.9rem;
    left: 67.8rem;
}
.location-container:nth-of-type(51){
    top: 23.9rem;
    left: 67.8rem;
}
.location-container:nth-of-type(52){
    top: 25.9rem;
    left: 61.5rem;
}
.location-container:nth-of-type(53){
    top: 18.5rem;
    left: 105.9rem;
}
.location-container:nth-of-type(54){
    top: 20.2rem;
    left: 74.9rem;
}
.location-container:nth-of-type(55){
    top: 26rem;
    left: 61.5rem;
}
.location-container:nth-of-type(56){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(57){
    top: 29.6rem;
    left: 305.9rem;
}
.location-container:nth-of-type(58){
    top: 25.9rem;
    left: 61.8rem;
}
.location-container:nth-of-type(59){
    top: 30.9rem;
    left: 291.6rem;
}
.location-container:nth-of-type(60){
    top: 25.9rem;
    left: 61.7rem;
}
.location-container:nth-of-type(61){
    top: 19.2rem;
    left: 105.9rem;
}
.location-container:nth-of-type(62){
    top: 24.1rem;
    left: 64.7rem;
}
.location-container:nth-of-type(63){
    top: 41.7rem;
    left: 289.5rem;
}
.location-container:nth-of-type(64){
    top: 16.8rem;
    left: 107.1rem;
}
.location-container:nth-of-type(65){
    top: 19rem;
    left: 295.2rem;
}
.location-container:nth-of-type(66){
    top: 25.8rem;
    left: 61.6rem;
}
.location-container:nth-of-type(67){
    top: 20rem;
    left: 296.4rem;
}
.location-container:nth-of-type(68){
    top: 41.4rem;
    left: 290.2rem;
}
.location-container:nth-of-type(69){
    top: 25.9rem;
    left: 61.5rem;
}
.location-container:nth-of-type(70){
    top: 23.1rem;
    left: 69.5rem;
}
.location-container:nth-of-type(71){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(72){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(73){
    top: 25.9rem;
    left: 61.7rem;
}
.location-container:nth-of-type(74){
    top: 19.3rem;
    left: 106rem;
}
.location-container:nth-of-type(75){
    top: 25.5rem;
    left: 61.4rem;
}
.location-container:nth-of-type(76){
    top: 25.9rem;
    left: 61.6rem;
}
.location-container:nth-of-type(77){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(78){
    top: 25.9rem;
    left: 61.6rem;
}
.location-container:nth-of-type(79){
    top: 25.9rem;
    left: 61.7rem;
}
.location-container:nth-of-type(80){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(81){
    top: 20rem;
    left: 296.3rem;
}
.location-container:nth-of-type(82){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(83){
    top: 19.2rem;
    left: 105.9rem;
}
.location-container:nth-of-type(84){
    top: 20.8rem;
    left: 73.1rem;
}
.location-container:nth-of-type(85){
    top: 19.2rem;
    left: 105.9rem;
}
.location-container:nth-of-type(86){
    top: 36.9rem;
    left: 293.12rem;
}
.location-container:nth-of-type(87){
    top: 26rem;
    left: 62.4rem;
}
.location-container:nth-of-type(88){
    top: 19.2rem;
    left: 105.9rem;
}
.location-container:nth-of-type(89){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(90){
    top: 25.8rem;
    left: 61.6rem;
}
.location-container:nth-of-type(91){
    top: 25.9rem;
    left: 61.6rem;
}
.location-container:nth-of-type(92){
    top: 19.2rem;
    left: 68.1rem;
}
.location-container:nth-of-type(93){
    top: 19.2rem;
    left: 68.3rem;
}
.location-container:nth-of-type(94){
    top: 28.7rem;
    left: 301.4rem;
}
.location-container:nth-of-type(95){
    top: 19.2rem;
    left: 106rem;
}
.location-container:nth-of-type(96){
    top: 19.2rem;
    left: 105.9rem;
}
.location-container:nth-of-type(97){
    top: 25.9rem;
    left: 61.7rem;
}
.location-container:nth-of-type(98){
    top: 25.9rem;
    left: 61.1rem;
}
.location-container:nth-of-type(99){
    top: 29.3rem;
    left: 294.2rem;
}
.location-container:nth-of-type(100){
    top: 19.2rem;
    left: 106rem;
}

.location-detail {
    position: relative;
    top: -10px;
    left: 290px;
}